# Workspace files frequently edited that shouldn't be tracked
journal_draft.txt

# Logging should not be tracked
/Logs

# Secrets include private absolute filenames needed to configure journal archive targets
/Configuration
/Dev_Archive